.container-fluid{
    background-color: #D62A0F;
    top: 0;
    left: 0;
    right: 0;
}

body{
  height: 2000px;
}

.container{
    padding-bottom: 130px;
    padding-top: 15px;
}


.nav-menu, .nav-offers, .nav-cart {
    font-size: 150%;
    width: 110px;
    margin-left: 1em;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    width: 100%;
    background-color: #D62A0F;
    color: white;
    text-align: center;
    height: 115px;
}

@media screen and (max-width: 800px){
    .phone_number{
        display: none;
    }
}

.pizza-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;

}

 .single_pizza{
     float: left;
     width: 50%;
    vertical-align: middle;
 }

.pizza-img-description{
    float: left;
    height: auto;
    width: 50%;
}

.description{
    font-size: 150%;
    padding: 30px;
    text-align: center;
}

.priced{
    font-size: 130%;
    text-align: center;
}

.menu{
    width: 80%;
    text-align: center;
    margin: auto;
}

.btn-primary{
    background-color: #b7b3b3;
    padding: 5px;
    width: 240px;
    margin: 10px;
    float: right;
}

.profile-img-{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
}

a{
    color: black;
    text-decoration: none;
}

.btn-primary-cart{
    background-color: #b7b3b3;
    padding: 5px;
    width: 500px;
    margin: 10px;
    float: right;
}

.profile-line{
    font-size: 150%;
    width: 110px;
    margin-left: 1em;
    float: right;
    padding: 7px;
}


.cart-img-description{
    width: 700px;
    height: 700px;
}

.cartname{
    color: pink;
}