.container-fluid{
    background-color: #D62A0F;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

h1{
    position: absolute;
    top: 150px;
}
.menu {
    background-color: green;
    position: absolute;
    top: 200px;
}

.offers{
    background-color: lightblue;
    position: absolute;
    top: 200px;
}

.cart{
    background-color: lightpink;
    position: absolute;
    top: 200px;
}

.personal_profile{
    background-color: mediumpurple;
    position: absolute;
    top: 200px;
}

.nav-cart{
    position:absolute;
    right: 80px;
    font-size: 150%;
}

.nav-menu, .nav-offers, .nav-profile{
    font-size: 150%;
    width: 110px;
    margin-left: 1em;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    background-color: #D62A0F;
    color: white;
    text-align: center;
    height: 100px;
    margin-top: -200px;
}

.phone_number{
    position: absolute;
    right: 80px;
    bottom: 0;
    padding: 10px;
}

.email{
    position: absolute;
    text-align: left;
    bottom: 0;
    padding: 10px;
}
@media screen and (max-width: 800px){
    .email{
        display: none;
    }
    .phone_number{
        display: none;
    }
}