header{
    margin:0;
    background-color: #D62A0F;
}
 .logo{
    border-radius: 5%;
    max-width: 15%;
    height: auto;
    padding: 8px;
    margin: 5px;
    position: relative;
    top: -30%;
    left: 10%;
 }