{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo.jpeg' %}" alt="Logo" width="150" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-menu"><a class="nav-link" href="/menu/">Menu</a></li>
        <li class="nav-profile"><a class="nav-link" href="/personal_profile/">Profile</a></li>
        <li class="nav-offers"><a class="nav-link" href="/offers/">Offers</a></li>
        <li class="nav-cart"><a class="nav-link" href="/cart/">Cart</a></li>
      </ul>
    </div>
  </div>


</nav>