{% load static %}
<! -- this file is for the navigation bar, code taken from bootstrap -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo.jpeg' %}" alt="Logo" width="150" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-menu"><a class="nav-link" href="/menu/">Menu</a></li>
        <li class="nav-offers"><a class="nav-link" href="/offers/">Offers</a></li>
        <li class="nav-cart"><a class="nav-link" href="/cart/">Cart</a></li>
        {% if user.is_authenticated %}
        <! -- if user exists then navebar changes into profile and login -->
          <li><a class="profile-line" href="{% url 'profile' %}">Profile</a></li>
          <li><a class="profile-line" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <! -- else if user logsout or dosn't exist than navbar is login and register -->
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>

        {% endif %}
      </ul>
        {% if user.is_authenticated %}
          <! -- if user exist his profile picture will appear in the navbar-->
          <img src="{{user.profile.profile_image}}" class="profile-img-" />
        {% endif %}
    </div>
  </div>
</nav>